[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pyodbc = "*"
pandas = "*"
"pypdf2" = "*"
tenacity = "*"
pydrive = "*"

[dev-packages]

[requires]
python_version = "3.7"
